html
{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body
{
    background: #3B3D42;
    /*max-width: 500px;*/
    width: cover;
    height: cover;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar
{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    /*letter-spacing: 1px;*/
    /*border: 2px solid blue;*/
}

.navbar-brand
{
    /*All Star Code Logo*/
    background-image: url("/Assets/AllStarCode_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 210px;
    margin-left: 15px;
    padding: 0px;
    /*border: 2px solid blue;*/
}

.sites
{
    padding-top:15px;
    color: #51C1E9;
    text-align: center;
    font-size: 35px;
    /*letter-spacing: 0px;*/
    /*text-shadow: 2px 2px 8px #292a2d;*/
}

.outerDiv
{
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 40px;
    margin: 0 auto;
    /*border: 1px dashed green;*/
}

.col-sm-4
{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 15px;
    /*border: 1px solid red;*/
}

.groupPics, .groupPic1, .groupPic2, .groupPic3, .groupPic4, .groupPic5, .groupPic6, .groupPic7, .groupPic8
{
    background-image: url("https://pbs.twimg.com/profile_images/739841829319888896/bfPsa1CU.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /*border: 1px dashed green;*/

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.groupPic1
{
    /*background-image: url("");*/
}

.groupPic2
{
    /*background-image: url("");*/
}

.groupPic3
{
    /*background-image: url("");*/
}

.groupPic4
{
    /*background-image: url("");*/
}

.groupPic5
{
    /*background-image: url("");*/
}

.groupPic6
{
    /*background-image: url("");*/
}

.groupPic7
{
    /*background-image: url("");*/
}

.groupPic8
{
    /*background-image: url("");*/
}

.grow, .groupPic1:hover, .groupPic2:hover, .groupPic3:hover, .groupPic4:hover, .groupPic5:hover, .groupPic6:hover, .groupPic7:hover, .groupPic8:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.siteDim
{
    background: rgba(0, 25, 50, 0.07);
    width: inherit;
    height: inherit;
    
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

.siteDim:hover
{
    background: transparent;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

@media (max-width: 1080px)
{
    .outerDiv
    {
        display: flex;
        justify-content: center;
        align-items: center;
        /*
        padding-bottom: 70px;
        padding-top: 0px;
        padding-left: 70px;
        padding-right: 70px;
        */
        padding: 70px + cover;
        font-size: 30px;
        letter-spacing: 1px;
        
    }
    
    .col-sm-4
    {
        height: 200px;
        width: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
