html
{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body
{
    max-width: cover;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.navbar-brand
{
  background-image: url("https://photos-1.dropbox.com/t/2/AADFWnPcOWJykBbGnDyOVl_ssOX6Q6t6U4i4rrbkL4Vu5w/12/352759491/png/32x32/3/1500022800/0/2/AllStarCode_logo-02.png/EKLB8bkFGLoyIAcoBw/84_24UOUFY3YDyiT7PzszewdEd70t5hZycLhtIk2Yh0?dl=0&size=2048x1536&size_mode=3");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
}

.OuterDemo1
{
    max-width: cover;
    height: 200px;
    overflow: hidden;
    border: 2px solid green;
}

.DemoPicture1
{
    width: inherit;
    height: inherit;
    background-image: url(/Assets/codecode.jpg);
    background-size: 100%;
    -webkit-transition: all 0.3s;
}

.DemoPicture1:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s;
}

.Demos1
{
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    padding: 70px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px dashed red;
    
}